
*{
    margin: 0;
    padding: 0;

}

:root{
    --dark:#343a45; 
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
}

header{
    background-color: var(--dark);
}

.logo{
    color: #fff;
}

.logo h1{
    font-size: 18px;
}

.logo img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.menu a{
   color: #fff;
   text-decoration: none;
   padding:10px 20px;
   /* border: solid 1px #f00; */

}
.menu li{
    display: inline;
}
.menu a:hover{
    background-color: #555757;
    border-radius: 5px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.grow1{
    flex-grow: 1;
}

.grow2{
    flex-grow: 2;
}

.menu ul{
    text-align: center;
}

/* banner */

.banner{
    background: url('../img/hero-bg.png') center / cover fixed;
    display: flex;
}

.banner>div{
    padding: 40px 20px 20px 20px;
    width: 50%;
}

.banner img{
    width: 80%;
}

.btn{
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
}

.btn-green{
    background-color: #014b14;
}

.btn-blue{
    background-color: #11014f;
}
.banner-buttons{
    margin-top: 32px;
}

.banner p, .banner h2{
    padding: 10px;
}

/* css da galeria de imagens */

.card-gallery article{
   /* border: solid 1px #f00; */
   position: relative;
   background-color: var(--dark);
   border-radius: 10px;
}

.card-gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 300px;
    gap: 5px;
}

.card-gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
      border-radius: 10px;
}

.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.w-1{
    grid-column: span 1;
}


.w-2{
    grid-column: span 2;
}


.w-4{
    grid-column: span 4;
}


.card-gallery h1{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    font-size: 24px;
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.card-gallery h2, .card-gallery p{
    color: #fff;
    padding: 16px;
    line-height: 24px;
}

.card-gallery .text-gallery{
    position: absolute;
    top: 0;
    left: 0;
    color:var(--dark);
    z-index:3;
}

.card-gallery article:hover h1{
    opacity: 1;
}

.card-gallery .btn{
    background-color: #01180c;
    color: #fff;
    border:none;
}

.card-gallery article>div{
    position: absolute;
    top: 10px;
    right: 0;
    margin: 20px;
    opacity: 0;
    transition: 0.3s;

}

.card-gallery article:hover>div{
    opacity: 1;
}

.card-gallery article:hover img{
    filter: brightness(70%) ;
}